/* Colores */
/* Letras */
/* Extend */
.flex__centrado, footer .footer__redes, footer .footer__derechos {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Header */
.header {
  position: sticky;
  top: 0px;
  background-color: #58b46f;
  padding: 0px 16px; }
  .header__mov:hover {
    transform: rotate(300deg); }
  .header__item {
    display: flex;
    padding: 15px; }
    .header__item:hover {
      transform: scale(1.25, 1.25); }
    .header__item:visited {
      color: white; }
    .header__item a {
      color: #3f3d3d;
      text-decoration: none; }

/* Index */
.main__section {
  display: flex;
  height: 90vh;
  width: auto;
  background-image: url(../recursos/perronegro.jpg);
  background-size: cover;
  background-position: center;
  align-items: center; }

.main__titulo {
  font-style: italic;
  font-size: 80px;
  color: black;
  text-align: center;
  padding: 30px; }

.main__texto {
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: black;
  padding: 50px;
  margin: 100px; }

.main__sectionabajo {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center; }

.main__amb {
  display: flex;
  align-self: center;
  width: 100px;
  height: 100px; }

/* Footer */
footer {
  background-color: #58b46f;
  display: grid;
  padding: 24px;
  grid-template-areas: "indice redes" "indice derechos"; }
  footer .footer__indice {
    grid-area: indice; }
  footer .footer__redes {
    grid-area: redes; }
  footer .footer__derechos {
    grid-area: derechos; }
  footer .footer__iconos {
    width: 50px;
    height: 50px; }
  footer .footer__indice ul li {
    font-size: 16px;
    text-decoration: none;
    padding: 10px; }

/* Media Querie de celular */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto;
    position: relative; }
  .header__lista {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /* main index */
  .main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: none; }
  .main__titulo {
    font-size: 40px;
    padding: 30px; }
  .main__texto {
    font-size: 16px;
    justify-content: center;
    padding: 25px;
    margin: 0px; }
  .ocultar {
    display: none; }
  .main__sectionabajo {
    flex-direction: column;
    padding: 15px; } }

/* Media Querie de tablet */
@media (min-width: 576px) and (max-width: 992px) {
  header {
    height: auto; }
  /* Index */
  .main__titulo {
    font-size: 80px;
    padding: 0px; }
  .main__texto {
    padding: 50px;
    margin: auto; }
  .main__sectionabajo {
    display: flex;
    flex-direction: column;
    padding: 15px; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #eae8e2;
  font-family: "Roboto", sans-serif; }

h1 {
  font-family: "Pacifico", cursive; }

h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 60px;
  color: #58b46f; }

h5 {
  color: rebeccapurple; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.card-title {
  font-size: 2rem; }

.card-text {
  font-family: "Roboto", sans-serif; }
