/* Media Querie de celular */
@media (min-width:320px) and (max-width:575px) {
    header {
        height: auto;
        position: relative;
    }

    h3{
        text-align: center;
        justify-content: center;
    }
    .header__lista{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
/* main index */
.main__section {

    height: 30vh;
}

.main__titulo {
    font-size: 2rem;
    padding: 16px;
    margin: 0px;
}
ul{
    padding: 0px;
}
.main__texto {
    font-size: 16px;
    justify-content: center;
    padding: 20px;
    margin: 0px;
}
.ocultar{
    display: none;
    }

footer {        
    grid-template-areas:"indice"
                        "derechos"
                        "redes";
    }
    .footer__indice{
            justify-content: center;
            text-align: center;
    }
}
/* Media Querie de tablet */
@media (min-width: 576px) and (max-width: 992px) {
    header{
        height: auto;
    }
/* Index */
    .main__section {
        height: 40vh;
    }
    .main__titulo {
        font-size: 3rem;
        padding: 0px;
    }
    
    .main__texto {
        padding: 30px;

    }
    
}