/* Media Querie de celular */
@media (min-width:320px) and (max-width:575px) {
    header {
        height: auto;
        position: relative;
    }
    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 0.5rem;
    }

    h3{
        text-align: center;
        justify-content: center;
    }
    .header__lista{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
/* main index */
.main{
    &__section {
    height: 30vh;
    }

    &__titulo {
    font-size: 2.5rem;
    padding: 16px;
    margin: 0px;
    }

    &__texto {
    font-size: 1.3rem;
    justify-content: center;
    padding: 20px;
    margin: 0px;
    }
}
ul{
    padding: 0px;
    }
.ocultar{
    display: none;
    }

footer {        
    grid-template-areas:"indice"
                        "derechos"
                        "redes";
    }
    .footer__indice{
            justify-content: center;
            text-align: center;
    }
}
/* Media Querie de tablet */
@media (min-width: 576px) and (max-width: 992px) {
    header{
        height: auto;
    }
/* Index */
.main{
    &__section {
        height: 40vh;
    }
    &__titulo {
        font-size: 3rem;
        padding: 0px;
    }
    
    &__texto {
        padding: 30px;
    }
}
}