@import"variable";
@import"operators";
@import"header";
@import"index";
@import"footer";
@import"mediaqueries";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: $color-secundario;
    font-family: $font-principal;
}

h1{
    font-family: $font-titulos;
}

h2{
    text-align: center;
    font-family: $font-titulos;
    font-size: 60px;
    color: $color-principal;
}
h5{
    color: rebeccapurple;
}
a {
    text-decoration: none;
}

ul{
    list-style: none;
}
.card-title {
    font-size: 2rem;
}
.card-text{
    font-family: $font-principal;
}