@import"variable";
@import"operators";
@import"header";
@import"index";
@import"footer";
@import"mediaqueries";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: $color-secundario;
    font-family: $font-principal;
}

h1{
    font-size: 4rem;
    font-family: $font-titulos;
}

h2{
    text-align: center;
    font-family: $font-titulos;
    font-size: 2.5rem;
    color: $color-principal;
}

h5{
    color: $color-principal;
}
p{
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: #000;
}
.background-tarjetas{
    background-color: #eae8e2;
}
.zoom-tarjetas:hover{
    transform: scale(1.1,1.1);
}

ul{
    list-style: none;
}
.card-title {
    font-size: 2rem;
}
.card-text{
    font-family: $font-principal;
}
iframe {
    height: 50%;
    width: 100%;
    
}